<div class="sections-layout">
  <div class="section-wrapper">
    <!-- Sidebar title -->
    <div class="sections-title">
      <h3>About</h3>
    </div>

    <!-- Two-column content -->
    <div class="section-content two-columns">
      <div class="column">
        <p>
          This one-day symposium brings together scholars and artists with experience of working at the intersection of disciplines such as digital humanities, digital art history, cultural and media studies, digital visual studies, deep learning and computer vision. 
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus ex sapien, vitae pellentesque sem placerat. In id cursus mi. Pretium tellus duis convallis tempus leo. Eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl, malesuada lacinia integer nunc posuere. Ut hendrerit semper vel, class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
          link to old website  <a href="hype23.html">link to From Hype to Reality 2023</a>
        </p>
      </div>

      <div class="column">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus ex sapien, vitae pellentesque sem placerat. In id cursus mi. Pretium tellus duis convallis tempus leo. Eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl, malesuada lacinia integer nunc posuere. Ut hendrerit semper vel, class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus ex sapien, vitae pellentesque sem placerat. In id cursus mi. Pretium tellus duis convallis tempus leo. Eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl, malesuada lacinia integer nunc posuere. Ut hendrerit semper vel, class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus ex sapien, vitae pellentesque sem placerat. In id cursus mi. Pretium tellus duis convallis tempus leo. Eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl, malesuada lacinia integer nunc posuere. Ut hendrerit semper vel, class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
      </div>
    </div> <!-- section-content -->
  </div> <!-- section-wrapper -->
</div> <!-- sections-layout -->
