<div class="video-grid" id="videoGrid"></div>body {
  cursor: none;
}


<div class="container headline-container">
  <div class="row">
    <!-- Title left, date right -->
    <div class="col col-6">
      <h1>FROM  HYPE<br>TO  REALITY</h1>
    </div>
    <div class="col col-6 is-right">
      <h3>Artificial Intelligence in Art and Culture</h3>
    </div>
  </div>



 <div class="row address-block">
  <div class="col col-4 offset-8">
    <h4>23<sup>rd</sup> of October 2025</h4>
    <h4>____</h4>
    <h4>Digital Society Initiative</h4>
    <h4>University of Zurich</h4>
    <h4>Rämistrasse 69</h4>
    <h4>Zurich, Switzerland</h4>
      
  </div>
</div>
</div>
