<div class="sections-layout">
  <div class="section-wrapper">
    <!-- Sidebar title -->
    <div class="sections-title">
      <h3>Registration</h3>
    </div>

    <!-- Two-column content -->
    <div class="section-content">
      <div class="column">
        <p>
          The participation in the symposium is free and open to everyone. The event will take place on-site in Zurich (Switzerland), and will be live streamed via Zoom. 
        </p>
      </div> <!-- column -->
    </div> <!-- section-content -->
  </div> <!-- section-wrapper -->
</div> <!-- sections-layout -->
