{% comment %}
  This file reads from _data/cv.yml and looks for the "Workshops Delivered" section.
{% endcomment %}

{% for entry in site.data.cv %}
  {% if entry.title == "Workshops Delivered" %}
    <div class="card mt-3 p-3">
      <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
      <div>
        {% if entry.type == 'list' %}
          {% include cv/list.liquid content=entry.contents %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}