<ul class="card-text font-weight-light list-group list-group-flush">
  {% comment %}
    This loop will access the 'contents' of the 'entry' variable that was set
    in the parent file (render_workshops.liquid).
  {% endcomment %}
  {% for item in entry.contents %}
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <h5 class="mb-0">{{ item.title }}</h5>
        {% if item.year %}
          <span class="text-muted font-weight-light">{{ item.year }}</span>
        {% endif %}
      </div>
      {% if item.institution %}
        <h6 class="text-muted">{{ item.institution }}</h6>
      {% endif %}
      {% if item.description %}
        <p class="mt-2 mb-0">{{ item.description }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>